# Maven build
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# H2 database files (optional)
*.mv.db
*.trace.db


