<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Tacos</title>
  </head>
  
  <body>
    <h1>Login</h1>
 	
 	<div th:if="${param.error}">
 		Unable to login. Check your username and password.
 	</div>
 	
 	<p>
 	New here? <a th:href="@{/register}">CLICK HERE</a> to register.
 	</p>
 	
    <form method="POST" th:action="@{/login}" id="loginForm">
  
      <label for="username">Username: </label>
      <input type="text" name="username"/>
      <br/>
      
      <label for="password">Password: </label>
      <input type="text" name="password"/>
      <br/>
      
      <input type="submit" value="Login">
    </form>
    
    
  </body>
</html>


